# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Test & coverage
*.test
*.out
coverage.*

# Go workspace / vendor
vendor/
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Env
.env
.env.local

# LocalStack volume
.localstack/
volume/
